<div class="container">
  <h2>Formazione:</h2>
  <div class="jumbotron">

    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          Corso Programmatore web
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Ente di formazione: </strong>Eduforma
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          15/01/2015 - 20/02/2015
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Competenze acquisite:<br>
          </strong>
            Uso dei principali CMS, web marketing, impostzione di un e-shop, programmazione php,
            basi di web design, HTML, CSS
        </div>
      </div>
      <br>
    </div>
    <div class="container">

        <br>

    </div>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          Corso Autodesk Maya
        </div>
        <div class="col-md-4" style="text-align:left;" >
          <strong>Ente di formazione: </strong>Pragma s.t.a
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          da-a
        </div>
        <div class="col-md-8" style="text-align:left;" >
          <strong>
            Competenze acquisite:<br>
          </strong>
          Capacità di modellazione, rendering ed animazioni 3D, programmi utilizzati Autodesk maya, Adobe Aftereffect, Photoshop.

        </div>
      </div>
      <br>
    </div>
    <div class="container">

        <br>

    </div>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          Diploma Perito Informatico
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Ente di formazione: </strong>I.T.I.S. F. Severi
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;" >
          2002 - 2009
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Competenze acquisite:<br>
          </strong>
          Basi di programmazione, HTML.

        </div>
      </div>
      <br>
    </div>
  </div>
</div>
