<div >
  <h2>Esperienze lavoraive:</h2>
  <div class="jumbotron">

    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Ruolo Svolto:
          </strong>
          Sviluppatore junior
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Datore di lavoro: </strong><br> 2AM Code
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          27/03/2015 - 01/07/2015
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Principali mansioni:<br>
          </strong>
            Sviluppo di alcune di parti di app ibride con Javascript utilizzando Angularjs, Yeoman, Ionic e Nodejs.
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Ruolo Svolto:
          </strong>
          Franchisee di zona Husse Italia
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Datore di lavoro: </strong><br> Libero Professionista
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          27/06/2013 - 30/05/2014
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Principali mansioni:<br>
          </strong>
            Vendita e consulenza su alimenti ed articoli per cani e gatti.
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Ruolo Svolto:
          </strong>
          Docente di informatica part-time
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Datore di lavoro: </strong><br> Scuola 2F
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          28/01/2013 – 14/03/2014
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Principali mansioni:<br>
          </strong>
          Insegnamento utilizzo del pc e principali programmi
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Ruolo Svolto:
          </strong>
          Consulente Junior
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Datore di lavoro: </strong><br> INA Assitalia Terme Euganee
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          26/01/2012 – 02/08/2012
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Principali mansioni:<br>
          </strong>
          Illustrare il problema pensionistico e presentare/vendere le soluzioni previdenziali ed assicurative
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Ruolo Svolto:
          </strong>
          Web Master e Junior developer
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Datore di lavoro: </strong><br> BE SIDE Soluzioni Informatiche
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          01/04/2010 – 30/11/2011
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Principali mansioni:<br>
          </strong>
          Creazione e gestione siti Web, sviluppo software gestionali, tecnico hardware per conto di DELL, tecnico riparatore Poste Italiane
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Ruolo Svolto:
          </strong>
          Addetto al lavaggio stoviglie
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Datore di lavoro: </strong><br> Tivigest
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          05/07/2008 – 02/08/2008
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Principali mansioni:<br>
          </strong>
          Lavaggio stoviglie
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="container" style="border-bottom: solid 1px;" >
      <div class="row" >
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Ruolo Svolto:
          </strong>
          Addetto al lavaggio stoviglie
        </div>
        <div class="col-md-4" style="text-align:left;">
          <strong>Datore di lavoro: </strong><br> Tivigest
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align:left;">
          28/07/2007 – 18/08/2007
        </div>
        <div class="col-md-8" style="text-align:left;">
          <strong>
            Principali mansioni:<br>
          </strong>
          Lavaggio stoviglie
        </div>
      </div>
      <br>
    </div>

  </div>
</div>
