<div class="jumbotron">
  <h1>Federico Querini</h1>
  <p class="lead">
    <img src="images/io.JPG" height="300px"alt="federico_querini"><br>
  Buongiorno a tutti, mi presento.
  </p>
</div>

<div class="row marketing">

  <p>
    Sono nato a Dolo, in provincia di Venezia il 28 Luglio 1988, attulamente vivo a Padova.
  </p>

  <p>
    Mi sono diplomato nel 2009 come perito informatico all' I.T.I.S. F. Severi di Padova,
    dopo poco iniziai a lavorare come <strong>Web Developer</strong> in un piccola web agency di Cazzago di Pianiga (VE),
    li ho maturato la mia passione per il web e ampliando le mie capacità di programmazone e di riparazione hardware
    in quanto svolgevo anche riparazioni on-site su computer e periferiche Dell e terminali Poste Italiane.
  </p>
  <p>
    Col susseguirsi degli eventi dovetti cambiare lavoro, optai per un campo nuovo per me, ed iniziai a lavorare
    come <strong>Consulente Prevvidenziale</strong> per Ina Assitalia. Anche se non è durata molto come esperienza mi è servita per
    migliorare il mio carattere molto timido e per imparare a relazionarmi con le persone.
  </p>
  <p>
    Dopo l'esperienza assicurtiva intrapesi quella di <strong>Docente</strong> part-time Tramite la 2F Scuola, qui la mia mission consisteva
    nell'insegnare ad utilizzare il pc e i principali programmi a persone che non ne avevano mai visto uno e che volevano
    diventare autonome oppure volevano riaffermarsi professionalmente con corsi avanzati come la programmazione
    web o l'utilizo di autocad ecc.
  </p>
  <p>
    Contemporaneamente all'insegnamento avviai una piccola attività come commerciante in franchising di prodotti per animali.
    Purtroppo l'attività è durata poco meno di un anno, durante questo periodo ho affinato ulteriormente le mie capacità
    di relazione con gli altri dovendo spesso spiegare i prodotti.
  </p>
  <p>
    In seguito volendo tornare nel mio settore di studio ho incontrato Eduforma dove ho frequentato un corso di programmazione
    web dove ho imparato ad usare nuovi strumenti e nuovi metodi di sviluppo.
    Alla conclusione del corso sono stato impegnato in uno stage formativo di 480 ore presso 2AM Code, una software house specializzta nello
    svluppo di app tramite javascript, angularjs e simili.
  </p>

</div>
